* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: hsl(20, 40%, 50%);
  --primaryLight: hsl(20, 40%, 60%);
  --primaryDark: hsl(20, 40%, 40%);
  --secondary: hsl(25, 100%, 40%);
  --secondaryDark: hsl(25, 100%, 30%);
  --negative: #ffffff;
  --dark: #000000;

  --lxx: 4rem;
  --lx: 3rem;
  --lg: 2.5rem;
  --md: 2rem;
  --sm: 1rem;
  --xs: 0.5rem;

  --sizeSM: 576px;
  --sizeMD: 768px;
  --sizeLG: 992px;
  --sizeXL: 1200px;
  --sizeXXL: 1400px;
}

.main-container {
  padding: 1rem;
  margin: 0;
}