.footer-container {
  background-color: rgb(42, 53, 84);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  margin: 'auto' 0;
  color: #fff;
}

.footer-question {
  font-size: 1.5rem;
  font-family: 'EB Garamond', serif;
}

.footer-text {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-family: 'EB Garamond', serif;
}

.footer-thanks {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-family: 'EB Garamond', serif;
}

.btn_footer {
  padding: 0.5rem 1.5rem;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  min-width: 10rem;
  font-family: 'EB Garamond', serif;
  font-size: 1.2rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
  margin: 1rem;
}

.btn_footer:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #2a3554;
  transition: 250ms;
  font-weight: bold;
}
