.invitation__container {
  padding: 4rem;
  background: #d1c8bf;
}

.invitation__header {
  color: #33271b;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 1.8rem;
  font-family: 'Carattere', cursive;
}

.invitation__body {
  color: #33271b;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
  margin: 1rem 0;
}

/* Cards */
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  font-family: 'EB Garamond', serif;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
  font-family: 'EB Garamond', serif;
}

.cards__items {
  margin-bottom: 1rem;
  font-family: 'EB Garamond', serif;
}

@media only screen and (max-width: 1200px) {
  .invitation__container {
    padding: 2rem;
  }

  .invitation__header {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }
  
  .invitation__body {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .cards__items {
    margin: 1rem 0;
  }
}
