.invitation_container {
  padding: 4rem;
  background: #fff;
}

.invitation_header {
  color: #805C33;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 1.8rem;
  font-family: 'EB Garamond', serif;
}

.invitation_body {
  color: #A27642;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
  margin: 1rem 0;
  font-family: 'EB Garamond', serif;
}

.invitation_limit {
  color: #A27642;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: -1rem;
  font-family: 'EB Garamond', serif;
}

/* Button */
.btn_outline {
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'EB Garamond', serif;
  padding: 8px 20px;
  font-size: 2.5rem;
  font-weight: 600;
  background-color: #fff;
  color: #805C33;
  border: 3px solid #805C33;
  transition: all 0.3s ease-out;
  margin-top: 2rem;
}

.invitation_button {
  text-align: center;
}

.btn_outline:hover {
  transition: all 0.3s ease-out;
  background: #805C33;
  color: #fff;
  transition: 250ms;
}

.carousel {
  margin-top: -0.5rem;
}

/* Reveal */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .invitation_container {
    padding: 2rem;
    padding-bottom: 3rem;
  }

  .carousel {
    margin-top: -0.5rem;
  }

  .invitation_header {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  
  .invitation_body {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .invitation_limit {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
  }
}
