* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  padding: 1rem;
  margin: 0;
}

.tab-container {
  padding: 0 1rem;
}

/* Folheto  */
.folheto {
	font-family: Cambria,Georgia,serif; 
  padding: 1.5rem;
  background-color: hsl(44, 30%, 80%);
}

.folheto p {
  font-size: 1.2rem;
}

.fol-header {
  text-align: center;
}

.fol-title {
  font-size: 2rem;
  font-weight: bold;
}

.fol-rito {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.fol-subtitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.fol-cite {
  margin: 2rem 0;
  font-size: 1.2rem;
  font-style: italic;
}

.fol-canto {
  font-size: 1.2rem;
  font-style: italic;
}

.fol-init {
  color: #b81a1a;
}

@media only screen and (max-width: 1200px) {
  .main-root {
    margin: -3.8rem 0 0 0;
  }
}