.video-player {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-size: cover;
}

.landing-img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-size: cover;
}

.main-content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.main-content-title {
  font-family: 'Great Vibes', cursive;
  font-weight: 300;
  text-shadow: 0.2rem 0.2rem 0 rgba(100, 100, 100, 0.3);
}

.main-content-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.main-content-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 36px;
}

.main-content-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  color: #fff;
  font-size: 36px;
}

.h1-eduardo {
  margin-right: 3.5rem;
  font-size: 7rem;
  margin-bottom: -1rem;
}

.h1-giovana {
  margin-top: -1rem;
  margin-left: 3.5rem;
  font-size: 7rem;
}

.h1-e {
  color: rgb(253, 244, 220);
  text-shadow: 0.1rem 0.1rem 0 rgba(124, 105, 55, 0.644);
}

@media screen and (max-width: 960px) {
  .main-content-container > h1 {
    font-size: 70px;
    /* line-height: 2rem; */
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .main-content-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .main-content-container > p {
    font-size: 30px;
  }
}

/* 
  Playlist Script
  29LT Riwaya Informal
*/